{% extends 'homebase.html' %}
{% block title %} {{ setting.title }}{% endblock %}
{% block description %} index description {% endblock %}
{% block keywords %} index keywords {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %}  {% endblock %}

{% block body %}

<!-- Page Header Start -->
    <div class="container-fluid bg-secondary">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">YENI UYE KAYDI</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Anasayfa</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">İletişim</p>
            </div>
        </div>
    </div>
<!-- Page Header End -->

<!-- Sign Up Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success">
                             {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{message.tags}}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                    </div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post">
                        {% csrf_token %}
                        {{ form.as_p | safe }}
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Uye Ol</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Sign Up End -->


{% endblock %}