{% extends 'homebase.html' %}
{% block title %} {{ setting.title }}{% endblock %}
{% block description %} index description {% endblock %}
{% block keywords %} index keywords {% endblock %}

{% block sidebar %} {% include 'sidebar.html' %}  {% endblock %}

{% block body %}

        <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-4">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 150px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">SİPARİŞ LİSTESİ</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Anasayfa</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Kullanıcı Profili</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            {% include 'user_panel.html' %}
                <div class="col-lg-9 table-responsive mb-5">
                    <table class="table table-light table-borderless table-hover text-center mb-0">
                        <thead class="thead-dark">
                            <tr>
                                <th class="align-middle">Sipariş Kodu</th>
                                <th class="align-middle">First Name</th>
                                <th class="align-middle">Last Name</th>
                                <th class="align-middle">Total</th>
                                <th class="align-middle">Status</th>
                                <th class="align-middle">Date</th>
                                <th class="align-middle">Detail</th>
                            </tr>
                        </thead>
                            {% for rs in orders %}
                                <tr>
                                    <td class="align-middle">{{ rs.code }} </td>
                                    <td class="align-middle">{{ rs.first_name }} </td>
                                    <td class="align-middle">{{ rs.last_name }} </td>
                                    <td class="align-middle">{{ rs.total }} </td>
                                    <td class="align-middle">{{ rs.status }} </td>
                                    <td class="align-middle">{{ rs.create_at }} </td>
                                    <td class="align-middle"><a class="primary-btn" href="/user/orderdetail/{{ rs.id }}"> Detail </a></td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>


            </div>
        </div>
    </div>
    <!-- Contact End -->


 {% endblock %}
