<div class="col-lg-3 mb-5 shadow-lg rounded p-4">
    <h2 class="px-3"><span class="px-2">Kullanici Paneli</span></h2>
    {% with request.resolver_match.url_name as url_name %}
         <a href="/user/" class="dropdown-item {% if url_name == 'index' %}active{% endif %}">Kullanici Profili</a>  
         <a href="/user/orders" class="dropdown-item {% if url_name == 'user_orders' %}active{% endif %}">My Orders</a>  
         <a href="/user/orders_product" class="dropdown-item {% if url_name == 'user_order_product' %}active{% endif %}">My Order Product</a>  
         <a href="/user/comments" class="dropdown-item {% if url_name == 'user_comments' %}active{% endif %}">My Comments</a>  
         <a href="/user/favorites" class="dropdown-item {% if url_name == 'user_favorites' %}active{% endif %}">My Favorites</a>  
         <a href="/user/products" class="dropdown-item {% if url_name == 'user_order_detail' %}active{% endif %}">My Products</a>  
         <a href="/logout" class="dropdown-item">Logout</a>  
    {% endwith %}
</div>